[submodule "monero"]
	path = monero
	url = https://github.com/feather-wallet/monero.git
[submodule "src/third-party/polyseed"]
	path = src/third-party/polyseed
	url = https://github.com/tevador/polyseed.git
[submodule "external/feather-docs"]
	path = external/feather-docs
	url = https://github.com/feather-wallet/feather-docs.git
[submodule "external/feather-sigs"]
	path = external/feather-sigs
	url = https://github.com/feather-wallet/feather-sigs.git
[submodule "external/libwally-core"]
	path = external/libwally-core
	url = https://github.com/ElementsProject/libwally-core.git
[submodule "external/biscuit-swapd"]
	path = external/biscuit-swapd
	url = https://github.com/BiscuitWallet/biscuit-swapd.git
	branch = main
